<!DOCTYPE html>
<html lang="ru">
  <%- include('partials/head', { title }) %>
  <body>
    <div class="profile row">
      <%- include('partials/sidebar', { user }) %>
      <div class="col s10">
        <div class="container">
          <h4 class="title">Профиль</h4>
          <% if(user.role === 'USER') { %>
            <ul class="works collection">
              <% if(works.length) { works.forEach(work => { %>
                <li class="collection-item" data-id="<%= work._id %>">
                  <ul class="collection-actions">
                    <li>
                      <a data-action="remove-item" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">close</i></a>
                    </li>
                  </ul>
                  <p><b>Название:</b> <%= work.name %></p>
                  <p><b>Номинация:</b> <%= nominations.find(nomination => nomination._id.toString() === work.nomination.toString()).name %></p>
                  <p><b>Проверена:</b> <% if(work.isVerified) { %> да <% } else { %> нет <% } %></p>
                  <p><b>Допущена:</b> <% if(work.isAdmitted) { %> да <% } else { %> нет <% } %></p>
                  <p><b>Дата отправки:</b> <%= new Date(work.createdAt).toLocaleString() %></p>
                  <% if(work.checkDate) { %> <p><b>Дата проверки:</b> <%= new Date(work.checkDate).toLocaleString() %></p> <% } %>
                  <p>
                    <a class="blue-text text-darken-2 valign-wrapper"" href="/uploads/<%= work.file %>" target="_blank">
                      <i class="material-icons">insert_drive_file</i>
                      Прикрепленный файл
                    </a>
                  </p>
                </li>
              <% })} else { %>
                <li class="collection-item">Список работ пуст</li>
              <% } %>
            </ul>
          <% } %>

          <% if(user.role === 'ADMIN') { %>
            <ul class="users collection">
              <% if(users.length) { users.forEach(user => { %>
                <li class="collection-item" data-id="<%= user._id %>" data-role="<%= user.role %>">
                  <ul class="collection-actions">
                    <li>
                      <a data-action="remove-item" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">close</i></a>
                    </li>
                    <li>
                      <button data-target="edit-modal" class="modal-trigger btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">edit</i></button>
                    </li>
                  </ul>
                  <p><b>ФИО:</b> <span data-fullname><%= user.surname %> <%= user.name %> <%= user.patronymic %></span></p>
                  <p>
                    <b>Роль:</b>
                    <% if(user.role === 'ADMIN') { %> Адмнистратор <% } %>
                    <% if(user.role === 'USER') { %> Участник <% } %>
                    <% if(user.role === 'EXPERT') { %> Эксперт <% } %>
                  </p>
                  <p><b>Организация:</b> <% if(user.organization) { %> <%= user.organization %> <% } else { %> не указана <% } %></p>
                  <p><b>Должность/специальность:</b> <% if(user.position) { %> <%= user.position %> <% } else { %> не указана <% } %></p>
                  <% if(user.role === 'EXPERT') { %>
                    <p><b>Ученое звание:</b> <% if(user.academic_rank) { %> <%= user.academic_rank %> <% } else { %> не указана <% } %></p>
                    <p><b>Ученая степень:</b> <% if(user.academic_degree) { %> <%= user.academic_degree %> <% } else { %> не указана <% } %></p>
                    <p>
                      <b>Номинация:</b>
                      <% if(user.nomination) { %>
                        <%= nominations.find(nomination => nomination._id.toString() === user.nomination.toString()).name %>
                      <% } else { %>
                        не указана
                      <% } %>
                    </p>
                  <% } %>
                </li>
              <% })} else { %>
                <li class="collection-item">Список пользователей пуст</li>
              <% } %>
            </ul>

            <div id="edit-modal" class="modal">
              <div class="modal-content">
                <h5></h5>
                <form data-form="edit-user">
                  <div class="row">
                    <div class="input-field col s12">
                      <select>
                        <option value="USER">Участник</option>
                        <option value="EXPERT">Эксперт</option>
                      </select>
                      <label>Роль</label>
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit">
                    Редактировать
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>